
$--color-of-text:#000;
$--color-of-navi-text:#fff;
$--color-of-navi-background:#000;
$--color-of-hover-background:#fff;
$--color-of-hover-text:#000;
$--color-of-navi-linker:#000077;
$--color-of-table-header-border-color:#000;
$--color-of-table-border-color:#fff;
$--color-of-table-header-background:#000;
$--color-of-table-odd-row:#616161;
$--color-of-table-even-row:#a3a3a3;
$--color-of-background:#fff;
$--color-of-content-background:#fff;
$--color-of-content-border:#fff;
$--style-of-content-shadow:2px 2px 5px #000;
$--color-of-linker:#000077;

@import 'layout.scss'

