$--color-of-text:#000;//普通字体颜色
$--color-of-navi-text:#fff;//导航栏字体颜色
$--color-of-navi-background:#0e0e0e;//导航栏背景颜色
$--color-of-hover-background:#fff;//导航栏鼠标移上背景颜色
$--color-of-hover-text:#000;//导航栏鼠标移上字体颜色
$--color-of-navi-linker:#000077;//链接颜色
$--color-of-table-header-border-color:#000;//表格header边框
$--color-of-table-header-background:#1e1e1e;//表格header背景
$--color-of-table-border-color:#fff;//表格其他边框
$--color-of-table-odd-row:#616161;//表格奇数行背景色
$--color-of-table-even-row:#a3a3a3;//表格偶数行背景色
$--color-of-background:#ccc;//全文背景
$--color-of-content-background:#cf6;//文本框背景
$--color-of-content-border:#ebfdbf;//文本框边框
$--style-of-content-shadow:2px 2px 5px #000;//文本框
$--color-of-linker:#000077;//链接颜色

@import 'layout.scss'
