$--color-of-text:#000;
$--color-of-table-header-border-color:#a9c6c9;
$--color-of-table-border-color:#a9c6c9;
$--color-of-table-header-background:#069;
$--color-of-table-odd-row:#3cc;
$--color-of-table-even-row:#39c;
$--color-of-background:#fff;
$--color-of-content-background:#fff;
$--color-of-content-border:#a0cffd;
$--style-of-content-shadow:2px 2px 5px #e4fdbf;
$--color-of-linker:#000077;
$--color-of-navi-text:#4a45e8;
$--color-of-navi-background:#fc6;
$--color-of-hover-background:#9fc;
$--color-of-hover-text:#fff;
$--color-of-navi-linker:#000077;

@import 'layout.scss'
