$--color-of-text:#000;
$--color-of-navi-text:#fff;
$--color-of-navi-background:#3255f1;
$--color-of-hover-background:#fff;
$--color-of-hover-text:#43c7f4;
$--color-of-navi-linker:#000077;
$--color-of-table-header-border-color:#a9c6c9;
$--color-of-table-border-color:#a9c6c9;
$--color-of-table-header-background:#50a3f7;
$--color-of-table-odd-row:#aef4ef;
$--color-of-table-even-row:#fff;
$--color-of-background:#fff;
$--color-of-content-background:#fff;
$--color-of-content-border:#a0cffd;
$--style-of-content-shadow:2px 2px 5px #34fdbf;
$--color-of-linker:#000077;

@import 'layout.scss'
