$--color-of-text:#000;
$--color-of-navi-text:#fff;
$--color-of-navi-background:#da07d3;
$--color-of-hover-background:#b706b1;
$--color-of-hover-text:#fff;
$--color-of-navi-linker:#000077;
$--color-of-background:#fff;
$--color-of-content-background:#fff;
$--color-of-content-border:#e15afc;
$--style-of-content-shadow:2px 2px 5px #e4fdbf;
$--color-of-linker:#000077;
$--color-of-table-header-border-color:#a9c6c9;
$--color-of-table-border-color:#a9c6c9;
$--color-of-table-header-background:#e15afc;
$--color-of-table-odd-row:#f1b9fe;
$--color-of-table-even-row:#fff;

@import 'layout.scss'
