/*导航栏格式*/
:root{

		--color-of-navi-text:#fff;
		--color-of-navi-background:#da07d3;
		--color-of-hover-background:#b706b1;
		--color-of-hover-text:#fff;
		--color-of-navi-linker:#000077;
}
div#nav-cont{
		margin:0;
		padding:0;
		font-style:normal;
		font:12px/22px "\5B8B\4F53",Arial, Helvetica, sans-serif
} 
div#nav a{/*链接格式*/
		color:var(--color-of-navi-linker);
		text-decoration:none;
}  
a{
		color:var(--color-of-text-color);
		text-decoration:none;
}

div#nav{ 
		width:100%; 
		height:60px; 
		background:var(--color-of-navi-background);
		margin:0 auto
} 
div#nav div{
		display:inline; 
		height:60px
} 
div#nav div a{
		display:inline-block;
		padding:0 20px; 
		height:60px; 
		line-height:60px; 
		color:var(--color-of-navi-text); /*字体颜色*/
		font-family:"\5FAE\8F6F\96C5\9ED1";
		font-size:16px
} 
div#nav div a:hover{/*鼠标移上*/
		background:var(--color-of-hover-background); 
		color:var(--color-of-hover-text);
} 
