body{
	margin:0px;
	background-color:#fff;/*主界面背景:灰色*/
}
.container{
	width:940px;
	margin-left:auto;
	margin-right:auto;
}
body h1{
	font-size:30pt;/*标题1大小*/
}
body h2{
	font-size:20pt;/*标题2大小*/
}
div.problem-info{/*试题信息*/
		font-size:10pt;
		padding:auto;
		margin:auto;
}
.linker{/*链接字体:斜体*/
		font-style:italic;
}
.content{/*文本框*/
		background-color:#fff;
		padding:10px;
		border-color:#a0cffd;
		border-style:solid;
		width:910px;
		margin-left:auto;
		margin-right:auto;
		box-shadow: 2px 2px 5px #34fdbf;/*阴影*/
}
.rating_graph{/*rating绘图*/
		padding:10px;
		margin-left:auto;
		margin-right:auto;
		width:910px;
		height:300px;
}
